.login-wrapper{
    display: grid;
    place-content: center;
    height: 100%;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
.login-wrapper form button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 900;
    border: 2px solid transparent;
    background-color:  rgba(133, 62, 177, 0.887);
} 

.login-wrapper button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

button {
    width: 300px;
    border-radius: 10px;
}

button:hover {
    background-color: #650673;
}
.nombre {
    display: flex ;
    align-items: center;
}
.nombre img {
    width: 75px;
    height: 75px; 
    border-radius: 5px
} 
.alert-danger {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    color: black;
}
.alert-info {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    color: black;
}




